# Prerequisites
*.d
loadfiles_cf.py

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.env
loadfiles_cf.py

# Precompiled Headers
*.gch
*.pch
loadfiles_cf.py
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
loadfiles_cf.py
# Fortran module files
*.mod
*.smod
loadfiles_cf.py
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
loadfiles_cf.py
# Executables
*.exe
*.out
*.app
*.env
loadfiles_cf.py
